<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Funcionários do Departamento</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
        <div th:switch="${funcionarios}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null">Sem funcionarios ainda!</h2>
                    <div th:case="*">
                        <h2 class="my-5">Funcionários</h2>
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nome</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="funcionario : ${funcionarios}">
                                    <td th:text="${funcionario.id}"></td>
                                    <td th:text="${funcionario.name}"></td>
                                    <td><a th:href="@{/setarChefe/{idFunc}/{idDepart}(idFunc=${funcionario.id},idDepart=${departamento.id})}" class="btn btn-primary">Promover a chefe</a></td>
                                    <td><a th:href="@{/alterarDepartamento/{idFunc}(idFunc=${funcionario.id})}" class="btn btn-primary">Alterar Departamento</a></td>
                                    <td><a th:href="@{/historicoDepartamentos/{idFunc}(idFunc=${funcionario.id})}" class="btn btn-primary">Histórico</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                </div>
            </div>
        </div>
    </body>
</html>